<li>
    {{location_name}}
    {{street_address}}
    {{available}}
    {{last_verified}}
    {{has_water}}
    {{has_soap}}
    {{has_paper}}
    {{has_mirror}}
    <button class="change-thumb" data-id="{{id}}" data-newthumb="{{thumbs_up}}">
        {{#if thumbs_up}}Thanks for the Thumbs up!{{else}} Thanks for your feedback!{{/if}}
    </button>
</li>